@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_red_blue {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) scale(0.2);
        opacity: 0;
    }
}

.animate-bubble {
    animation: bubble 4s linear infinite;
    transition: transform 2s ease-out;
    /*animation: transition: top 6s ease-in-out, width 3s ease-in-out, height 3s ease-in-out;*/
}

@layer components {
    .chatRow {
        @apply rounded-lg px-5 py-3 text-sm flex items-center space-x-2 hover:bg-gray-700/70 cursor-pointer text-gray-300 transition-all duration-200 ease-out
    }

    .infoText {
        @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px]
    }
}